*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
[Bb]in
[Dd]ebug*/
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
BuildProcessTemplates/*
Published/*
[Tt]humbs.db
[Uu]pgradeLog*.[Xx][Mm][Ll]
_[Uu]pgradeReport_Files*/
*.build.csdef
[Pp]ackage/*
ASPNETDB.MDF
aspnetdb_log.ldf
logs/
tools/nhprof/log.txt
*.docstates
data
*.log
*.log.*
source/services/tidy-python-service/logs/
source/services/tidy-python-service/.idea/
build-artifacts
!source/webapp/Tidy.Web/config/[Rr]elease*/
!source/webapp/Tidy.Web/config/[Dd]ebug*/
!source/webapp/Tidy.Api/config/[Rr]elease*/
!source/webapp/Tidy.Api/config/[Dd]ebug*/
