<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="EmbeddedTest" connectionString="Data Source=App_Data\TestDatabase.sdf" providerName="System.Data.SqlServerCe.4.0"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
